<!--tutorial for XML file could be found under this link-->
<!--h-->

<configs>
   <common_configs>
      <router_ip>192.168.1.1</router_ip>
       <transport_time>1</transport_time>
   </common_configs>

   <shuttle_configs>
      <type>shuttle</type>
      <name>shuttle_1</name>
   </shuttle_configs>
   
   <database_configs>
   	<host>192.168.1.54</host>
   	<user>Shuttle</user>
   	<passwd>raspberry</passwd>
   	<db_name>ip</db_name>
   </database_configs>

   <machine_configs>
       <type>machine</type>
      <name>machine_2</name>
      <gui_name>Freasemachine</gui_name>
   </machine_configs>

</configs>
